<%- include('components/_tab-menu.ejs') %>
<main id="app">
  <% data.instances.forEach(instance => { %>
   <%- include('components/_icon-access.ejs',{ instance }) %>
   <% }) %>
  
</main>
  
</body>
</html>