<div class="icon-access" style="--_clr : <%- instance.color%>">
  <div class="icon">
    <button class="table">
      <img src="icons/icon-<%- instance.json %>.png" alt="<%- instance.json %>">
    </button>
    <button class="add">
      <div class="plus">
        <span></span><span></span>
      </div>
    </button>
  </div>
  <h5 class="text"><%- instance.json %></h5>
</div>