<%- include('_head.ejs') %>
<div id="tab-menu">
  <section class="show-hide-button btns">
    <button id="showHideLeft">
      <img src="../public/icons/icon-menu.png" alt="Toggle Menu">
    </button>
  </section>

  <section class="title">
    Instafolio - Catálogos al instante
  </section>

  <section class="actions-buttons btns">

    <button id="minWindow" title="Minimizar ventana">
      <img src="../public/icons/icon-min.png" alt="Minimize">
    </button>
    <button id="maxWindow" class="" title="Ampliar ventana">
      <img src="../public/icons/icon-max.png" alt="Maximize">
      <img src="../public/icons/icon-restore.png" alt="Restore">
    </button>
    <button id="closeWindow" title="Cerrar ventana">
      <img src="../public/icons/icon-close.png" alt="Close">
    </button>

  </section>
</div>
<main id="left-mainContainer">
<aside id="leftMenu"></aside>